{% include 'header.twig' %}
<body class="login-page">

    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">LOGIN</a>
            <small>Test skill by function login</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in"  method="post" >
                    <div class="msg">Sign in to start</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" id="password"  name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-12">
                            <button class="btn btn-block bg-pink waves-effect" type="button" onClick="check_login()">SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                        </div>
                        <div class="col-xs-6 align-right">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form method="post"  action="check_login/check_login" id="submit_login">
        <input type="hidden" class="form-control" id="password_correct"  name="password_correct" >
        <input type="hidden" class="form-control" id="username_correct"  name="username_correct" >
    </form>

    {% include 'footer.twig' %}